.event-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e7eb;
}
.event-card:hover {
  transform: translateY(-5px);
}
.event-badge {
  background: #dbeafe;
  color: #1e40af;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Comic Sans MS";
}
.event-title {
  margin: 10px 0;
  color: #111827;
  font-family: "Roboto";
}
.event-info {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 10px;
}
.event-desc {
  color: #4b5563;
  line-height: 1.5;
  margin-bottom: 20px;
}
.register-btn {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
