.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-image: url("https://i.postimg.cc/VvgVTkqg/system-bars-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 92%;
}
.navbar-logo {
  font-size: 35px;
  font-weight: bold;
  color: #2563eb;
  text-decoration: none;
}
.navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
  margin: 0;
  margin-right: 10px;
}
.nav-item {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
}
.register-link {
  text-decoration: none;
  background-color: #2563eb;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
}
.logout-button {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
